/* Btn */

.btn {
  display: inline-block;
  height: 3rem;
  padding: .75rem 1.75rem;

  border-radius: .313rem;
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: .009rem;
  font-size: 1rem;
  font-weight: 500;

  transition: opacity 0.2s ease-in;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  position: relative;
  top: .063rem;
}

/* Btn outline */

.btn-outline {
  display: flex;
  column-gap: .625rem;
  align-items: center;

  height: 3rem;
  padding: .75rem 1.25rem;

  border-radius: .313rem;
  border: .063rem solid var(--blackpure);
  background-color: var(--white);
  color: var(--blackpure);

  transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
  opacity: 0.8;
}

.btn-outline:active {
  position: relative;
  top: .063rem;
}